body {
}
.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.icons-list {
  display: flex;
  height: 100%;
  flex-direction: column;

  @media (min-width: 40em) {
    flex-direction: row;
  }
  &__item {
    border-radius: 4px;
    margin: 0 20px;
    &:hover {
      background-color: #efefef;
      cursor: pointer;
    }
  }
}
