
.icon-png {
  background-image: url("../images/sprite.png");
}

.icon-png {
  background-position: 0px 0px;
  width: 100px;
  height: 114px;
}
  

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-png {
    background-image: url("../images/sprite@2x.png");
    background-size: 100px 114px;
  }
}
  
